
<table border='1px'>
	<tr>
		<th>Name</th>
		<th>Address</th>
		<th>Phone</th>
		<th>Website</th>
		
	</tr>
   
	<tr>	
		<td><%= @name %></td><br>
		<td><%= @street %><%= @city_state_zip %></td>
		<td><%= @phone %></td>
		<td><%= @web %></td>

		
	</tr>
</table>

<% @search.each do |s|%>
<li><%= s.name %></li>
<li><%= s.location.display_address %></li>
<li><%= s.phone %></li>
<li><%= s.url %></li>





<%end%>
